.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: #ffffff;
}

.left-title {
  flex: 1;
}

.show-list {
  font-size: 1.4rem;
  font-weight: 800;
  font-family: Lato, sans-serif;
}

.right-title {
  flex: 1;
  text-align: right;
}

.categories {
  font-size: 1.3rem;
  font-weight: 700;
}

select {
  width: 23%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  border: 3px solid black;
  border-radius: 5px;
  outline: none;
  font-weight: bold;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 2rem;
}

.movie-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  box-shadow: 2px 2px black;
  padding-bottom: 0.5rem;
  max-height: 75vh;
}

.movie-card:nth-child(odd) {
  background-color: rgba(59,130,245,.5);
}

.movie-card:nth-child(even) {
  background-color: rgba(59,130,246,.5);
}

.right-arrow {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  font-size: 2.2rem;
  cursor: pointer;
}

.movie-card img {
  height: 85%;
  width: 70%;
  padding-top: 2.2rem;
}

.movie-info {
  text-align: center;
}

.movie-title {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.4rem 0;
}

.movie-type {
  font-size: 0.8rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }

  select {
    width: 60%;
  }
}
